spring:
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
      - org.springframework.boot.autoconfigure.orm.jpa.HibernateJpaAutoConfiguration
  data:
    mongodb:
      uri: mongodb://${MONGO_USERNAME:root}:${MONGO_PASSWORD:my-secret-pw}@${MONGO_HOST:localhost}:${MONGO_PORT:27017}/${MONGO_DATABASE:inventorydb}?authSource=${MONGO_AUTH_DB:admin}

app:
  persistence:
    type: mongo
